body {
    display: flex;
}

.calculator-body {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 8px;
    padding-bottom: 36px;
    background-color: black;
}

.console {
    display: flex;
    width: 100%;
    height: 20%;
    border: 2px solid black;
    justify-content: left;
    align-items: center;
    padding-left: 12px;
    margin: 8px;
    background-color: white;
    font: 36px bold;
    box-sizing: border-box;
    border-radius: 12px;
}

.inputs {
    display: flex;
    flex-flow: row wrap;
    height: 80%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin: 8px;
}

.row {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    box-sizing: border-box;
}

.number,
.operator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    font: 36px bold;
    border-radius: 8px;
}

.operator {
    background-color: orange;
}

.number {
    background-color: grey;
}

#zero {
    width: 50%;
}